@import url("https://fonts.googleapis.com/css?family=Gaegu:300,400,700");

@import "base";
@import "styleguide";

body {
  font-family: "Gaegu", cursive;
  background-color: $color-white;
  color: $color-black;
}

img {
  width: 50%;
}

button {
  display: block;
  border: none;
  padding: 8px 24px;
  margin: 16px 0;
}

// MOBILE
@include mobile {
  img {
    width: 100%;
  }
}
